.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.hero__btn {
  display: flex;
  color: #fff;

  margin-top: 1rem;
  padding: 0.5rem;

  font-size: 1.125rem;
  text-decoration: none;
  align-items: center;
  align-self: center;
  font-weight: 500;

  border-radius: 5px;
  border: 2px solid #d5d5d5;
  background: linear-gradient(to right, #141414, gold );
}

