:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body {
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    column-gap: 1rem;
}

.config__section {
    grid-column: 1/2;

    border: 1px solid #000;

    padding: 2rem;
}

.chat__section {
    grid-column: 2/4;
    padding: 2rem;

    border: 1px solid #000;

    align-items: center;
}